<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BioSIs - Trusted Security Solutions providert</title>
    <link rel="stylesheet" href="css/main.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class='navbar'>
        <nav class='navbar__items'>
            <div class='navbar__banner'>
                <h1>BioSis</h1>
            </div>
            <div class='navbar__links'>
            <ul>
                <li>
                    <a href='#home'>Home</a>
                </li>
                <li>
                    <a href='https://www.biosis.ae'>Store</a>
                </li>
                <li>
                    <a href='#services'>Services</a>
                </li>
                <li>
                    <a href='#contact'>Contact</a>
                </li>
                <li>
                    <a href='#support'>Support</a>
                </li>
                </div>

            </ul>
        </nav>
    </div>
    <div>
            <section id='home'>
        <div class='home heading'>
            
            <div class='home__overlayText'>
                <p>Trusted Security Solutions Provider</p>
                <p>Truly customer focused</p>
                <button> Contact us </button>
            </div>
            <div class='home__picture'>
                <img src='https://i.imgur.com/E7uYwFG.jpg' alt='bg-image-cctv' />
            </div>

        </div>
      
        

    </section>
    <section>
    <div>
    
        <div class='home__info'>
            <p> Security Consultancy - Systems Vendor - Maintenance - Professional Monitoring</p>
        </div>
        <div class='home__infoImages'>
            <div class='home__infoImagesChildren'>
                <img src='https://static.wixstatic.com/media/2e1d1e_a5cc9688513446729c44a7c897b32761~mv2.jpg/v1/fill/w_837,h_450,al_c,q_85,usm_0.66_1.00_0.01/2e1d1e_a5cc9688513446729c44a7c897b32761~mv2.webp' alt='customer support image' />

               
                <h5> Exceptional Product Quality</h5>
                <p>
                    Our products are carefully handpicked from the best suppliers in the world. Product quality and reliability are key to
                    become a Biosis Supplier. All products undergo strict quality control procedures to ensure that security is never
                    compromised. Biosis products are protected with a robust warranty policy.
                </p>
            </div>
            <div class='home__infoImagesChildren'>
                <img src='https://static.wixstatic.com/media/2e1d1e_d97db8f1eeff40ddb65ee3d17ec682bd~mv2.jpg/v1/fill/w_837,h_450,al_c,q_85,usm_0.66_1.00_0.01/2e1d1e_d97db8f1eeff40ddb65ee3d17ec682bd~mv2.webp'
                    alt='exceptional product' />
                <h5> 24/7 Support</h5>
                <p>
                    Our Customer Support team is always available to help. We aspire to be a leading Customer-focused Security solutions
                    Company. Our business idea is based on a partnership with the customer. We want to ensure that every customer is
                    genuinely looked after for all their security needs.
                </p>
            </div>
    
        </div>
    </div>
    </section>
        
    </div>
     

    
    <script src="js/app.js"></script>
</body>
</html>