<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BioSIs - Trusted Security Solutions provider</title>
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <nav class="navbar__items">
        <div class="navbar__banner">
          <!-- <img src='https://i.imgur.com/DdYGy5U.png?1' alt='biosis logo'> -->
          <h1>BioSis</h1>
          <p>Security simplified</p>
        </div>
        <div class="navbar__links">
          <ul>
            <li>
              <a href="#home">Home</a>
            </li>
            <li>
              <a href="https://www.biosis.ae">Store</a>
            </li>
            <li>
              <a href="#services">Products</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div>
      <section id="home">
        <div class="home heading">
          <div class="home__overlayText">
            <p>Trusted Security Solutions Provider</p>
            <p>Truly customer focused</p>
            <button>Contact us</button>
          </div>
          <div class="home__picture">
            <img src="https://i.imgur.com/E7uYwFG.jpg" alt="bg-image-cctv" />
          </div>
        </div>
      </section>
      <section>
        <div>
          <div class="home__info">
            <div class="heading__services">
              <p>Services</p>
            </div>
            <p>
              Security Consultancy - Systems Vendor - Maintenance - Professional
              Monitoring
            </p>
          </div>
          <div class="home__infoImages">
            <div class="home__infoImagesChildren">
              <img
                src="https://static.wixstatic.com/media/2e1d1e_a5cc9688513446729c44a7c897b32761~mv2.jpg/v1/fill/w_837,h_450,al_c,q_85,usm_0.66_1.00_0.01/2e1d1e_a5cc9688513446729c44a7c897b32761~mv2.webp"
                alt="customer support image"
              />

              <h5>Exceptional Product Quality</h5>
              <p>
                Our products are carefully handpicked from the best suppliers in
                the world. Product quality and reliability are key to become a
                Biosis Supplier. All products undergo strict quality control
                procedures to ensure that security is never compromised. Biosis
                products are protected with a robust warranty policy.
              </p>
            </div>
            <div class="home__infoImagesChildren">
              <img
                src="https://static.wixstatic.com/media/2e1d1e_d97db8f1eeff40ddb65ee3d17ec682bd~mv2.jpg/v1/fill/w_837,h_450,al_c,q_85,usm_0.66_1.00_0.01/2e1d1e_d97db8f1eeff40ddb65ee3d17ec682bd~mv2.webp"
                alt="exceptional product"
              />
              <h5>24/7 Support</h5>
              <p>
                Our Customer Support team is always available to help. We aspire
                to be a leading Customer-focused Security solutions Company. Our
                business idea is based on a partnership with the customer. We
                want to ensure that every customer is genuinely looked after for
                all their security needs.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="services" id="services">
        <div class="spacer"></div>
        <h3 class="heading">Products</h3>
        <div class="services__row">
          <div class="fingerprint">
            <i class="fas fa-fingerprint"></i>
            <p>Biometric Access Control Systems</p>
          </div>
          <div class="doors">
            <i class="fas fa-door-open"></i>
            <p>Automatic Door Controllers</p>
          </div>
          <div class="video">
            <i class="fas fa-video"></i>
            <p>Video Surveillance Systems</p>
          </div>
          <div class="networking">
            <i class="fas fa-network-wired"></i>
            <p>Networking & Cabling</p>
          </div>
        </div>
        <div class="services__row">
          <div class="car">
            <i class="fas fa-car"></i>
            <p>LPR/ANPR & Vehicle Surveillance Systems</p>
          </div>
          <div class="attendance">
            <i class="fas fa-user-clock"></i>
            <p>Access Control & Attendance Management Systems</p>
          </div>
          <div class="audio">
            <i class="fas fa-tty"></i>
            <p>PABX, Audio/Video & Intercom Systems</p>
          </div>
          <div class="guard">
            <i class="fas fa-user-shield"></i>
            <p>Guard Patrol & Tour Systems</p>
          </div>
        </div>
      </section>
      <div id="contact" class="contact__heading">
        <div class="spacer"></div>

        <h1>Contact</h1>
        <p>
          <i class="fas fa-phone-volume"></i> - +971 4 396 8603 - 800 246 747
          (BIOSIS)
        </p>
        <p><i class="fas fa-globe"></i> - www.biosis.ae - Store</p>
        <p><i class="fas fa-at"></i> - info@biosis.ae - support@biosis.ae</p>
      </div>

      <section class="contact">
        <div class="contact__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.754375787556!2d55.30452141470165!3d25.245196683873928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f42d648036473%3A0xa83bd788bb758c6a!2s23%2020%20A%20St%20-%20Al%20Karama%20-%20Dubai!5e0!3m2!1sen!2sae!4v1604337400081!5m2!1sen!2sae"
            frameborder="0"
            style="border: 0"
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <div class="contact__form">
          <form action="/submit" name="contact" method="POST">
            <label
              >Name:
              <input
                required
                id="name"
                type="text"
                name="name"
                placeholder="Enter your name"
            /></label>
            <label
              >Phone:
              <input
                required
                id="phone"
                type="phonet"
                name="phone"
                placeholder="Enter your phone number"
            /></label>

            <label
              >Email:
              <input
                required
                id="email"
                type="email"
                name="email"
                placeholder="Enter your email"
            /></label>
            <label for="message">Message</label>
            <textarea required id="message" name="message"></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </section>
      <div class="footer">
        <p>
          Copyright © 2020 BioSis Security Systems LLC. All Rights Reserved.
        </p>
      </div>
    </div>

    <script src="js/app.js"></script>
    <script src="js/all.js"></script>
  </body>
</html>
